# --- JWT ------------------------------------------------------------------
APP_JWT_SECRET=

# --- Infraestructura local (Docker Compose) -------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=